---
// import Merriweather from '/fonts/merriweather-cyrillic-400-normal.woff2'
// import Grotesk from '/fonts/space-grotesk-latin-400-normal.woff2'


export interface Props {
	title: string;
	description: string
}

const { title, description } = Astro.props;
---

		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="preload" href={Merriweather} as="font" type="font/woff2" crossorigin />
		<link rel="preload" href={Grotesk} as="font" type="font/woff2" crossorigin /> -->
		<link rel="canonical" href="https:www.ogiglesias.com.ar" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>