---
import Layout from '../../layouts/Layout.astro';
import { data } from '../../data/data';
import ButtonArrow from '../../components/ui/ButtonArrow.astro'

const { books } = data;


type Book = {
	id: number;
	title: string;
	href: string;
	img: string;
	issue: string;
	release: number;
	description: string;
	links: {
		id: number;
		href: string;
		store: string;
	}[];	
};
---


<Layout title="OGI - Escritor">
	<section class="books__page">
		<h3>LIBROS</h3>
	</section>
	<ul class="books__ul">
		{books.map((book:Book) => (
			<h4>{book.title}</h4>
			<li class="books__li">
				<img src={book.img} alt={book.title} />
				<section class="books__li--container">
					<p><span>Género:  </span> {book.issue}</p>
					<p><span>Año públicación:  </span> {book.release}</p>
				</section>
				<p>{book.description}</p>
				<section class="books__li--links">
					{
						book.links.map((link) => (
							link.href && link.store &&(
								<a href={link.href} target="_blank" rel="noopener noreferrer">COMPRAR <span> en {link.store}</span></a>
							)
						))
					}
				</section>
			</li>
		))}

	</ul>
</Layout>


<style>
	.books__page {
		margin: var(--margin-xlarge) 0 var(--margin-large) 0;
		height: fit-content;
	}
	.books__page h3{
		font-size: var(--font-size-large);
		margin: var(--margin-small) 0 0 0;
	}
	.books__ul{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 3rem;
	}

	.books__ul h4{
		font-size: var(--font-size-large);
	}
	.books__li{
		/* margin: var(--margin-small) 0 0 0; */
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	.books__li img{
		width: 30rem;
		object-fit: cover;
	}

	.books__li p{
		font-size: var(--font-size-medium);
		font-family: var(--font-base);
		font-weight: 100;
		letter-spacing: 0.5px;
	}

	.books__li--container{
		display: flex;
		flex-direction: column;
	}
	
	.books__li--container p{
		font-family: var(--font-base);
		font-size: var(--font-size-medium);
	}
	.books__li--container p span{
		font-style: normal;
		font-weight: 400;
		letter-spacing: 1px;
	}

	.books__li--links{
		margin: var(--margin-small) 0 0 0;
		display: grid;
		place-items: center;
		text-align: center;
		gap: 1rem;
	}
	.books__li--links a{
		font-size: var(--font-size-small);
		font-family: var(--font-text);
		font-weight: bold;
		padding: 0.5rem;

		width: 100%;
		border-radius: 5px;
		border: 1px solid var(--color-primary);
	}
	.books__li--links a:hover{
		background-color: var(--color-primary);
		color: var(--color-background);
		transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
	}
	.books__li--links a span{
		font-size: var(--font-size-small);
		font-style: italic;
		font-weight: 300;
	}

	@media (1280px <= width <= 2000px) {
		.books__ul{
			width: 70rem;
		}

			.books__li{
				display: flex;
				flex-direction: row;
				gap: 1rem;
			}
			.books__li img{
			width: 20rem;
			object-fit: cover;
		}
			.books__li p{
			font-size: var(--font-size-small);
			font-family: var(--font-base);
			font-weight: 100;
			letter-spacing: 0.5px;
		}
			.books__li--container p{
			font-family: var(--font-base);
			font-size: var(--font-size-small);
		}
			.books__li--links{
			margin: var(--margin-small) 0 0 0;
			font-size: var(--font-size-small);
			display: flex;
			flex-direction: row;
			gap: 1rem;
		}
		.books__li--links a{
		font-size: var(--font-size-small);
		width: 40%;
	}
	}

</style>