---
import { data } from '@/data/data'
import LayoutPages from '@/layouts/LayoutPages.astro'
import CardSpotlight from '@/ui/CardSpotLight';

const { books } = data;


type Book = {
	id: number;
	title: string;
	href: string;
	img: string;
	issue: string;
	release: number;
	description: string;
	links: {
		id: number;
		href: string;
		store: string;
	}[];	
};

const checkSortBooks = (a: Book, b: Book) => {
	if (a.release > b.release) {
		return -1;
	}
	if (a.release < b.release) {
		return 1;
	}
	return 0;
};

const sortsBook = books.sort(checkSortBooks);

---


<LayoutPages title="OGIglesias - Libros">
	<ul class="my-xs flex xl:grid  xl:grid-cols-4 flex-col items-center gap-8 h-full w-full xl:flex-row xl:items-start xl:flex-1 xl:my-xl min-h-[900px]">
			{sortsBook.map((book:Book) => (
				<section class="mt-xs flex flex-col gap-2 w-full  xl:min-w-[200px] xl:min-h-full">
					<h4 class="text-l flex" id={book.title}>{book.title}</h4>
					<li class="flex flex-col gap-4">
						<div class="book-container ">
							<div class="book ">
								<img class="w-full object-cover xl:object-cover shadow-md shadow rounded-md shadow-base-300 xl:min-h-[500px] xl:max-h-[400px] xl:object-cover xl:w-full xl:object-top" src={book.img} alt={book.title} />
							</div>
						</div>
						<section class="flex flex-col [&>p]:text-n font-thin">
								<section class="[&>p]:text-n">
									<p><span class="font-bold">Género:  </span> {book.issue}</p>
									<p><span class="font-bold">Año públicación:  </span> {book.release}</p>
								</section>
								<p class="mt-xs xl:min-h-[600px]">{book.description}</p>
							<section class="mt-s grid items-center text-center gap-3 text-n ">
							{
								book.links.map((link) => (
									link.href && link.store &&(
										<CardSpotlight client:load action border hrefLink={link.href}>
											<a class="font-bold w-full" target="_blank" rel="noopener noreferrer">
												COMPRAR <span class="font-thin"> en {link.store}</span>
											</a>	
										</CardSpotlight>
									)
								))
							}
							</section>
						</section>
					</li>
				</section>
			))}
	</ul>
</LayoutPages>


<style>

</style>
