---
import type { MarkdownLayoutProps } from 'astro';
import Footer from '@/sections/Footer.astro';
import Header from '@/sections/Header.astro'

type Props = MarkdownLayoutProps<{
  // Define las propiedades frontmatter aquí
  title: string;
  author: string;
  date: string;
}>;


const { frontmatter, url } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="../styles.css" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body class="min-w-full w-full h-full p-xl bg-background text-text">
		<Header />
		<main class="markdown my-s">
			<h1 class="text-xl font-bold">{frontmatter.title}</h1>
			<p class="text-m">{frontmatter.author}</p>
			<p class="text-m">{frontmatter.date}</p>
			<div class="font-thin text-balance">
				<slot />
			</div>
		</main>
		<Footer />
	</body>
</html>
<style is:global>


	:root {

}


	html {
		font-weight: normal;
		background-color: var(--color-background);
		color: var(--color-primary);
	}

	body::-webkit-scrollbar{
    width: 10px;
		}
	body::-webkit-scrollbar-track{
    background-color: var(--color-icons);
	}
	body::-webkit-scrollbar-thumb{
    position: relative;
    background-color: var(--color-primary);
    border-radius: 5px;
    border: 1px dotted black;
	}
	body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(139, 139, 139);
	}


	.markdown hr{
		margin: 10px 0 10px 0;
	}

</style>
